body {
    background: #271212;
    font-family: sans-serif;
    color: rgb(202, 208, 236);
    height: 100vh;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding-top: 12px;
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    color: rgb(191, 185, 197);
}
button{
    background: #6ed877;
    border-radius: 12px;
    font-size: 1.5rem;
    color: #271212;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 12px;
}
button:hover {
    background-color: #271212 ;
    color:rgb(202, 208, 236);
    
}